<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Document</title>
  </head>
  <body
    class="min-h-screen flex flex-col items-center justify-center gap-2 p-4"
  >
    <h1 class="text-3xl font-bold tracking-widest uppercase"><%= name %></h1>
    <div class="flex gap-8 text-lg font-bold">
      <b>Clicks: <span id="click-count">0</span></b>
      <b>Pairs Matched: <span id="pairs-matched">0</span></b>
      <b>Pairs Left: <span id="pairs-left">3</span></b>
      <b id="time-text">Time: <span id="timer">30</span>s</b>
    </div>
    <div class="flex gap-4">
      <button
        id="easy-btn"
        class="px-4 py-2 bg-orange-600 text-white font-bold rounded-xl cursor-pointer"
      >
        Easy
      </button>
      <button
        id="medium-btn"
        class="px-4 py-2 bg-green-400 text-white font-bold rounded-xl cursor-pointer"
      >
        Medium
      </button>
      <button
        id="hard-btn"
        class="px-4 py-2 bg-blue-700 text-white font-bold rounded-xl cursor-pointer"
      >
        Hard
      </button>
    </div>
    <div class="flex gap-4">
      <button
        id="start-btn"
        class="px-4 py-2 bg-indigo-800 text-white font-bold rounded-xl cursor-pointer"
      >
        Start
      </button>
      <button
        id="reset-btn"
        class="px-4 py-2 bg-red-500 text-white font-bold rounded-xl cursor-pointer"
      >
        Reset
      </button>
    </div>
    <div class="flex items-center gap-4">
      <div
        id="win-left"
        class="hidden flex-col items-center w-[20vw] shrink-0 pr-8"
      >
        <img src="/images/You.png" class="w-full" />
        <img src="/images/Win!.png" class="w-full" />
      </div>

      <div
        id="gameover-left"
        class="hidden flex-col items-center w-[20vw] shrink-0 pr-8"
      >
        <img src="/images/Game.png" class="w-full" />
        <img src="/images/Over.png" class="w-full" />
      </div>

      <div
        id="powerup-left"
        class="hidden flex-col items-center w-[20vw] shrink-0 pr-8"
      >
        <img src="/images/powerup.png" class="w-full" />
      </div>

      <div id="game-space"></div>

      <div
        id="win-right"
        class="hidden flex-col items-center w-[20vw] shrink-0 pl-8"
      >
        <img src="/images/You.png" class="w-full" />
        <img src="/images/Win!.png" class="w-full" />
      </div>

      <div
        id="gameover-right"
        class="hidden flex-col items-center w-[20vw] shrink-0 pl-8"
      >
        <img src="/images/Game.png" class="w-full" />
        <img src="/images/Over.png" class="w-full" />
      </div>

      <div
        id="powerup-right"
        class="hidden flex-col items-center w-[20vw] shrink-0 pl-8"
      >
        <img src="/images/powerup.png" class="w-full" />
      </div>
    </div>
    <button
      id="theme-btn"
      class="px-4 py-2 bg-gray-700 text-white font-bold rounded-xl cursor-pointer"
    >
      Dark Mode
    </button>
    <script src="script/code.js"></script>
  </body>
</html>
