<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Document</title>
  </head>
  <body
    class="min-h-screen flex flex-col items-center justify-center gap-8 p-8"
  >
    <mark><%= name %></mark>
    <div class="flex gap-8 text-lg font-bold">
      <b>Clicks: <span id="click-count">0</span></b>
      <b>Pairs Matched: <span id="pairs-matched">0</span></b>
      <b>Pairs Left: <span id="pairs-left">3</span></b>
      <b>Time: <span id="timer">60</span>s</b>
    </div>
    <div id="game-space">
      <!-- <img class="back" src="/images/PokeBall.webp" />
      <img
        class="front"
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png"
      /> -->
    </div>
    <script src="script/code.js"></script>
  </body>
</html>
