body {
  background-color: #ffffff;
  color: #000000;
}

body.dark {
  background-color: #1a1a2e;
  color: #ffffff;
}

#game-space {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  margin: auto;
}

.card {
  position: relative;
  transition-property: transform;
  transition-duration: 1s;
  transform-style: preserve-3d;
}

.flip {
  transform: rotateY(180deg);
}

.card-back-face {
  position: absolute;
  backface-visibility: hidden;
  top: 0px;
  left: 0px;
}

.card-front-face {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

img {
  width: 100%;
}
